.body {
  margin-top: 16px;
}

.chat {
  background-color: #72c7b5;
  padding: 12px;
  display: inline-block;
  border-radius: 12px;
}
.msg {
  margin-left: 22px;
  background-color: rgb(48, 111, 136);
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}
